<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wiess Room Reservation System</title>
    <link rel="stylesheet" href="/res/css/form.css"></link>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css"></link>
    <script src="res/js/jquery-2.2.0.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>
    <script src="res/js/main.js"></script>
</head>
<body style="text-align: center;">
  <style>
    body{
      padding: 25px;
    }
    #leftpane{
      width: 61%;
      height: 120%;
    }
    #rightpane{
      width: 33%;
      position: fixed;
      right:0px;
      height: 60%;
      top: 20%;
    }
    .taskpane{
      border: 1px solid black;
      overflow: hidden;
      float: left;
      margin: 25px 1% 50px 1%;
    }
    .fc-toolbar{
      padding: 15px;
    }
    .fc-today{
      background-color: #ffeaad !important;
    }
  </style>
  <div id="content">
    <div id="leftpane" class="taskpane">
      <h1>Wiess Room Reservation Calendar</h1>
      <div id="cal"></div>
    </div>
    <div id="rightpane" class="taskpane">
      <h2>Reservation Form</h2>
        <div class="form-style-2">
          <div class="form-style-2-heading"></div>
          <form action="/createRes" method="post">
            <label for="name"><span>Name: <span class="required">*</span></span><input type="text" class="input-field" name="name" value="" /></label>
            <label for="email"><span>Email: <span class="required">*</span></span><input type="text" class="input-field" name="email" value="" /></label>
            <label>
              <span>Telephone: </span>
              <input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />
              -
              <input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4"  />
              -
              <input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10"  />
            </label>
            <label for="roomName"><span>Room: </span><select name="roomName" class="select-field">
              <option value="Movie Room">Movie Room</option>
              <option value="Large Classroom">Large Classroom</option>
              <option value="Small Classroom">Small Classroom</option>
            </select></label>
            <em>Captcha Goes Here</em>
            <label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
          </form>
        </div>
    </div>
  </div>
</body>
</html>
